<h1>What does the fox say?</h1>

<div class="container">
  <form action="/answer" method="get">
    <input type="te xt" name="user_input" placeholder="Insert text here">
    <input type="submit" class="btn btn-primary">
  </form>
</div>


